.cabecalho {
    background-color:#51025a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}